@import "~bootstrap/scss/bootstrap";
@import "./utility/variables.scss";
@import "./utility/mixins.scss";
@import "./partials/header.scss";
@import "./partials/welcome.scss";
@import "./partials/dashboard.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




