@import "../utility/variables.scss";
@import "../utility/mixins.scss";

header {

    a {
        text-decoration: none;
        color: black;
    }
    
    ul {
        list-style: none;
        justify-content: flex-end;

        li {
            padding-left: 15px;
            transition: all 0.3s ease;
            
            a {
                text-decoration: none;
                color: black;
                font-size: 1.1rem;
                transition: color 0.3s ease;

                &:hover {
                    color: blue;
                }
            }
        }
    }
}